apiVersion: apps/v1
kind: Deployment
metadata:
  name: bux-wallet-frontend-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bux-wallet-frontend-demo
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: bux-wallet-frontend-demo
    spec:
      containers:
        - name: bux-wallet-frontend-demo
          image: bsvb/bux-wallet-frontend:v0.27.0
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: env-config
              mountPath: /usr/share/nginx/html/env-config.json
              subPath: env-config.json
              readOnly: true
          ports:
            - containerPort: 80
              name: web
              protocol: TCP
      volumes:
        - name: env-config
          configMap:
            name: bux-wallet-frontend-demo
