apiVersion: v1
kind: Secret
metadata:
  name: k8s-config-rw
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: 'git@github.com:GITHUB_USERNAME/bux-k8s-config.git'
  sshPrivateKey: |
